
:root {
    --paper-normal: #F4F3F3;
    --paper-emphasised: #FCFBFB;
    --paper-faded: #ECEBEB;
    --paper-red: #FBCFCD;
    --paper-orange: #F8D2BB;
    --paper-yellow: #EAD9B3;
    --paper-chartreuse: #D8E0B9;
    --paper-green: #C8E4C7;
    --paper-turquoise: #C1E5D8;
    --paper-cyan: #C1E4E6;
    --paper-bluegreen: #C8E1F0;
    --paper-blue: #D2DCF5;
    --paper-violet: #DFD7F4;
    --paper-magenta: #ECD3EE;
    --paper-pink: #F6CFE0;
    --paper-grey: #DCDBDB;
    --ink-faint: #B7B7B7;
    --ink-normal: #1C1B1B;
    --ink-err: #CF0000;
    --ink-red: #6D3737;
    --ink-orange: #693D20;
    --ink-yellow: #5C4613;
    --ink-chartreuse: #464F1B;
    --ink-green: #2B552E;
    --ink-turquoise: #095745;
    --ink-cyan: #025659;
    --ink-bluegreen: #225168;
    --ink-blue: #3C4A71;
    --ink-violet: #504270;
    --ink-magenta: #603B64;
    --ink-pink: #6A3750;
    --ink-grey: #4A4A4A;
    --mid-red: #B76160;
    --mid-orange: #B0693B;
    --mid-yellow: #9B7827;
    --mid-chartreuse: #798633;
    --mid-green: #4D9052;
    --mid-turquoise: #169476;
    --mid-cyan: #089196;
    --mid-bluegreen: #3F8AAF;
    --mid-blue: #687FBC;
    --mid-violet: #8872BA;
    --mid-magenta: #A167A9;
    --mid-pink: #B16088;
    --mid-grey: #7F7E7E;
}

