
:root {
    --paper-normal: #3B3938;
    --paper-stark: #343232;
    --paper-faded: #413F3E;
    --paper-red: #624241;
    --paper-orange: #604535;
    --paper-yellow: #584A30;
    --paper-chartreuse: #4C4F33;
    --paper-green: #41523D;
    --paper-turquoise: #3A5248;
    --paper-cyan: #3A5152;
    --paper-bluegreen: #3F4F59;
    --paper-blue: #484C5D;
    --paper-violet: #51485D;
    --paper-magenta: #594558;
    --paper-pink: #5F434E;
    --paper-grey: #4E4C4B;
    --ink-faint: #656262;
    --ink-normal: #F9F2F0;
    --ink-err: #FF0000;
    --ink-red: #FEA4A1;
    --ink-orange: #F7AC7E;
    --ink-yellow: #E1BA6E;
    --ink-chartreuse: #BFC878;
    --ink-green: #9CD195;
    --ink-turquoise: #85D4B6;
    --ink-cyan: #84D1D4;
    --ink-bluegreen: #97CAEA;
    --ink-blue: #B1C0F5;
    --ink-violet: #CDB5F4;
    --ink-magenta: #E5ABE5;
    --ink-pink: #F7A4C7;
    --ink-grey: #C5BFBE;
    --mid-red: #D46C6B;
    --mid-orange: #CC7740;
    --mid-yellow: #B48728;
    --mid-chartreuse: #8D9836;
    --mid-green: #5BA45B;
    --mid-turquoise: #1EA884;
    --mid-cyan: #0CA5AA;
    --mid-bluegreen: #4B9DC7;
    --mid-blue: #7A8FD7;
    --mid-violet: #9F80D5;
    --mid-magenta: #BB73C0;
    --mid-pink: #CE6B9A;
    --mid-grey: #948F8F;
}

