
:root {
    --paper-normal: #F4F3F3;
    --paper-stark: #FCFBFB;
    --paper-faded: #ECEBEB;
    --paper-red: #FECECC;
    --paper-orange: #F9D2B9;
    --paper-yellow: #EBD9B1;
    --paper-chartreuse: #D8E0B7;
    --paper-green: #C7E5C6;
    --paper-turquoise: #BEE6D7;
    --paper-cyan: #BFE5E6;
    --paper-bluegreen: #C6E1F1;
    --paper-blue: #D2DCF7;
    --paper-violet: #DFD7F6;
    --paper-magenta: #EDD2EF;
    --paper-pink: #F8CEE0;
    --paper-grey: #DCDBDB;
    --ink-faint: #C1C1C1;
    --ink-normal: #393939;
    --ink-err: #FF0000;
    --ink-red: #904B4A;
    --ink-orange: #8B522D;
    --ink-yellow: #7A5E1D;
    --ink-chartreuse: #5E6926;
    --ink-green: #3B713F;
    --ink-turquoise: #0F745C;
    --ink-cyan: #057276;
    --ink-bluegreen: #306C8A;
    --ink-blue: #516394;
    --ink-violet: #6B5993;
    --ink-magenta: #7F5085;
    --ink-pink: #8C4A6B;
    --ink-grey: #636363;
    --mid-red: #D06F6E;
    --mid-orange: #C87945;
    --mid-yellow: #B0892E;
    --mid-chartreuse: #8A993B;
    --mid-green: #59A45F;
    --mid-turquoise: #1BA887;
    --mid-cyan: #0BA6AB;
    --mid-bluegreen: #4A9DC7;
    --mid-blue: #7791D6;
    --mid-violet: #9C82D4;
    --mid-magenta: #B776C0;
    --mid-pink: #CA6E9B;
    --mid-grey: #919190;
}

