
:root {
    --paper-normal: #3D3B3A;
    --paper-emphasised: #363434;
    --paper-red: #674645;
    --paper-orange: #644938;
    --paper-yellow: #5C4D33;
    --paper-chartreuse: #505236;
    --paper-green: #445540;
    --paper-turquoise: #3D564C;
    --paper-cyan: #3D5556;
    --paper-bluegreen: #43535E;
    --paper-blue: #4B5061;
    --paper-violet: #544C61;
    --paper-magenta: #5D495C;
    --paper-pink: #644652;
    --paper-grey: #524F4F;
    --ink-faint: #686564;
    --ink-normal: #FCF4F3;
    --ink-err: #EF0000;
    --ink-red: #FFA9A5;
    --ink-orange: #F8B084;
    --ink-yellow: #E2BD75;
    --ink-chartreuse: #C2CA7F;
    --ink-green: #A2D39A;
    --ink-turquoise: #8DD5B9;
    --ink-cyan: #8DD3D5;
    --ink-bluegreen: #9DCCEA;
    --ink-blue: #B5C3F4;
    --ink-violet: #CFB9F3;
    --ink-magenta: #E6AFE5;
    --ink-pink: #F7A9CA;
    --ink-grey: #C8C2C1;
    --mid-red: #D86E6D;
    --mid-orange: #D07941;
    --mid-yellow: #B78A28;
    --mid-chartreuse: #909B37;
    --mid-green: #5DA75C;
    --mid-turquoise: #1FAB87;
    --mid-cyan: #0DA8AE;
    --mid-bluegreen: #4C9FCB;
    --mid-blue: #7C92DB;
    --mid-violet: #A283D9;
    --mid-magenta: #BF75C3;
    --mid-pink: #D16D9D;
    --mid-grey: #979291;
}

